.form-outer.five {
	position: relative;

	.changing-search {
		border-radius: 3px;
	}

	.form-group {
		position: relative;
		margin-bottom: 0;

		.fa-search {
			position: absolute;
			top: 20px;
			right: 15px;
			color: #fff;
			font-size: 26px;
			@include transition(0.5s);
		}

		&.has-success {

			.fa-search {
				color: $bright-green;
				z-index: 7;
			}
		}

		.form-control.search-form2 {
			color: rgba(0,0,0,0.8);
			border: 1px solid rgba(255,255,255,1);
			box-shadow: none;
			font-weight: 300;
			letter-spacing: 1px;
			background-color: transparent;
			height: 65px;
			font-size: 25px;
			padding-left: 15px;
			position: relative;
			z-index: 6;
			@include transition(1s);

			&:focus {
				box-shadow: none;
			}

			&:focus::-webkit-input-placeholder {
				@include transition(text-indent 3s 0.5s ease);
				text-indent: -100%;
				color: #000;
				opacity: 1;
			}

			&.zUp {
				z-index: 6;
				background-color: transparent;
			}
		}

		::-webkit-input-placeholder {
			color: #fff;
		}

		input:valid, input:focus {
			background-color: #fff !important;
			z-index: 4;
		}
	}
}
